.wrap {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
}

.title {
    margin: 60px 0 30px 0;
    text-align: center;
    font-size: 18px;
}

.profile > li {
    height: 30px;
}
.profile > li > span {
    display: inline-block;
}
.profile > li > span:first-child {
    width: 60px;
    font-weight: bold;
}

.club-list > li {
    display: flex;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 3px;
}
.club-thumb {
    width: 100px;
    overflow: hidden;
}
.club-thumb > img {
    height: 100%;
    object-fit: cover;
}
.join-info {
    height: 100%;
    padding: 10px;
}
.join-info-header {
    display: flex;
}
.status {
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    font-size: 12px;
    border: 1px solid #999;
    color: #999;
}
.status-joined {
    border: 1px solid #00aead;
    color: #00aead;
}
.join-info-header > h3 {
    font-weight: bold;
    cursor: pointer;
}
.join-info-date {
    margin-top: 10px;
    line-height: 20px;
}
.join-info-date span:first-of-type {
    display: inline-block;
    width: 35px;
    font-weight: bold;
}